:root {
  --color-primary: #0074E4;
  --color-light-grey: #FAFAFA;
  --color-dark-grey: #333;
  --color-black: #000;
  --color-white:#fff;
  --color-light-grey-2: #CECECE;
}

$mobile-portrait-control-width: 1024px;
$mobile-portrait-control-height: 768px;